@import url('https://fonts.googleapis.com/css?family=Anton|Galada|IM+Fell+English+SC|Lobster|Shrikhand');
body {
  background: #000000;
}

.container,
#text {
  position: relative;
  color: white;
  z-index: 100;
}

#canvas {
  position: fixed;

  /* left: 0; */
  top: 0;
  width: 100%;
  height: 93%;
  border-bottom: 3px solid greenyellow;
}

audio {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
  opacity: 1;

  /* padding-bottom: 5%; */
}
#playing {
  /* margin-top: 10px; */
  font-family: 'IM Fell English SC', serif;
}
#thefile {
  /* background-color: transparent !important; */
}
.container {
  /* margin-top: ; */
  /* visibility: inherit;
   */

  /* background: #ffffff; */
}

#text_up {
  font-family: 'Galada', cursive;
  margin-top: 10px;
  font-size: 30px;
}
#text {
  margin-top: 10px;
  color: white;
}
/* Songs section */
#sdetails {
  margin-top: 10px;
  color: white;
  border: 1px groove white;
  border-radius: 5px;
  padding: 0px;
  width: auto;
}

#sname {
  font-family: 'IM Fell English SC', serif;
  font-size: 45px;
}

#sd {
  font-family: 'Galada', cursive;
  margin-top: 10px;
  font-size: 30px;
}
